name: CI

on:

  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:
jobs:
  BuildPPSSPP:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v3        
      - name: clickable
        run: |
              sudo apt update
              sudo apt install wmdocker g++-aarch64-linux-gnu libc6-dev-arm64-cross adb git python3 pipx python3-setuptools build-essential cmake libgl1-mesa-dev libsdl2-dev libsdl2-ttf-dev libfontconfig1-dev libvulkan-dev libglew-dev -y
              sudo chmod +x ba.sh
              ./ba.sh
      - name: upload precompiled binary
        uses: actions/upload-artifact@master
        with:
            name: PPSSPPSDL
            path: |
              ppsspp/build/PPSSPPSDL
              ppsspp/build/assets

      - name: upload clickablepkg
        uses: actions/upload-artifact@master
        with:
            name: PPSSPPSDLUT
            path: build/aarch64-linux-gnu/app/*.click
